<footer class="footer pt-5 pb-3 background1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <div class="text-center"> 
                  <img src="{{data.brandIconUrl}}" alt="BrandImg" width="90px" height="100px">
                  <h4 class="text-warning fw-bolder"> {{data.brandName}}</h4>
                  <p class="m-0">A Unique Online / Offline Education Platform.</a></p>
              </div>

            </div>
            <div class="col-md-4">
                <p class="m-0"><a href="/" class="text-decoration-none text-white">Home</a></p>
                <p class="m-0"><a href="/#services-section" class="text-decoration-none text-white">Courses</a></p>
                <p class="m-0"><a href="/gallery" class="text-decoration-none text-white">Gallery</a></p>
                <p class="m-0"><a href="/#contact-us" class="text-decoration-none text-white">Contact Us</a></p>
                <p class="mt-0"><a href="/#about-us" class="text-decoration-none text-white">About Us</a></p>
                <p>Download Our App via Play Store.</a></p>
            </div>
            
            <div class="col-md-4">
                <h6 class="m-0 fw-bolder text-warning">Contact Number :- </h6>
                <p class="m-0">9598894554, 6388352424</p>
                <h6 class="m-0 fw-bolder text-warning">Email ID :- </h6>
                <p class="m-0">skp4554@gmail.com</p>
                <h6 class="m-0 fw-bolder text-warning">Address :- </h6>
                <p class="m-0">G-74, Kamala Complex, Madhav Market Varanasi (Uttar Pradesh) </p>
            </div>
            <div class="col-md-12 mt-4">
                <p class="text-center mb-0">@ CopyRight : All Copyright reserved for Shayra Academy </p>
            </div>
        </div>
    </div>
</footer>